:root {
    --background-color: #1F2833;
    --text-color: #d5d5d5;
    --navbar-color:rgba(0, 0, 0, 0.219);
    --navbar-color-hovered:rgba(70, 70, 70, 0.219);
    --selected-text-color: #04b4e0;
    --image-border: rgba(97, 97, 97, 0.603);
  }
body{
    background-color: var(--background-color);;
    margin: 0%;
    padding: 0%;  
}
.base {
    font-family: "Courier New", Courier, monospace;
    color: var(--text-color);
}
.base_nav {
    background-color: var(--navbar-color);
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.base_nav ul {
    list-style-type: none;
}
.base_nav_leftside {
    display: flex;
    padding-top: 5px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
}
.base_nav_leftside li {
    margin-right: 26px;
    vertical-align: middle;
    height: 100%;

}
.base_nav_leftside li:hover{
    cursor: pointer;
    background-color: var(--navbar-color-hovered);
}
.base_nav_rightside li {
    margin-right: 26px;
}
.base_nav_rightside li:hover{
    cursor: pointer;
    background-color: var(--navbar-color-hovered);
}
.toggle_button {
    position: absolute;
    display: none;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    top: 0.75rem;
    right: 1rem;
}
.toggle_button_bar {
    background-color: var(--image-border);
    height: 3px;
    width: 100%;
    border-radius: 10px;
}
.base_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.base_about_name p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
.base_about_desc p {
    font-size: 1.4rem;
    margin-top: -10px;
    letter-spacing: 0.1rem;
}
.base_about_image img {
    margin-top: 22px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid var(--image-border);
    z-index: 1;
}
.base_about_socials img{
    width: 7rem;
}
.base_about_socials img:hover{
    cursor: pointer;
}
.base_aboutme  {
    margin: 4%;
}
.base_aboutme_title h2 {
    letter-spacing: 2px;
}
.base_aboutme_info {
    display: flex;
    flex: wrap;
    flex-direction: row;
}
.base_aboutme_info .title {
    color: var(--selected-text-color);
    margin-right: 3px;
    font-weight: 600;
    letter-spacing: 1px;
}
.base_aboutme_info_left {
    display: inline-block;
    max-width: 60%;
}
.base_aboutme_info ul {
    text-decoration: none;
    list-style-type: none;
}
.base_aboutme_info ul li {
    margin: 0.5rem;
}
.base_skills {
    margin: 4%;
}
.base_skills_title h2 {
    letter-spacing: 2px;
}
.base_skills_logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
}
.logos {
    margin: 1rem;
}
.logos img{
    width: 100%;
    height: 120px;
}
.nodejs-logo {
    width: 140px;
}
.base_contact {
    margin: 4%;
}
.base_contact_data {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
.base_contact_title h2 {
    letter-spacing: 2px;
}
.base_contact_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact_icon img{
    height: 50px;
    width: 50px;
}
.contact_icon h4 {
    font-weight: 300;
    margin-top: 2.5rem;
    letter-spacing: 1px;;
}
.contact_icon {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 8rem;
    width: 14rem;
    border: 3px solid var(--image-border);
    border-radius: 5px;
}
.base_contact_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.base_contact_right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.base_contact_right-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.base_contact_right-form-left h2 {
    letter-spacing: 1px;
    color: var(--selected-text-color);
    margin: 1rem;
}
.base_contact_right-form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.base_contact_right-form-left input {
    margin: 1rem;
    width: 70%;
    min-height: 2.3rem;
    background-color: var(--background-color);
    border: 2px solid var(--image-border);
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 1.3rem;
    padding-left: 1rem;
    color: var(--text-color);
}
.base_contact_right-form-right textarea {
    margin: 5rem 1rem 1rem 1rem;
    width: 70%;
    min-height: 12rem;
    background-color: var(--background-color);
    border: 2px solid var(--image-border);
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 1.3rem;
    padding-left: 1rem;
    color: var(--text-color);
}
.base_contact_right-form-left, input:focus, textarea {
    outline: none !important;
}
.base_contact_right-form-right, input:focus, textarea {
    outline: none !important;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 194px;
    width: 317px;
    margin: 1rem;
    border: 3px solid var(--image-border);
    border-radius: 5px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}
@media (max-width: 768px) {
    .toggle_button {
        display: flex
    }
    .base_nav_leftside {
        display: none;
        justify-content: center;
        flex-direction: column;
    }
    .base_nav_leftside li {
        margin-right: 26px;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }
    .base_nav_rightside li {
        margin-right: 26px;
        text-align: center;
        padding: 1rem;
        vertical-align: middle;
    }
    .base_nav {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .base_nav ul {
        width: 80%;
    }
    .show {
        display: flex;        
    }
    .base_aboutme_info {
        flex-direction: column;
    }
    .nodejs-logo {
        width: 100px;
    }
}